button {
  border: none;
  border-radius: 0.5rem;

  padding: 0.5rem 1rem;

  font-weight: bold;
  text-transform: uppercase;

  color: var(--white);
  background-color: var(--blue-100);

  transition: filter 200ms;

  &:hover {
    filter: brightness(0.8);
  }
}